*{
    font-family: "Noto Sans KR", Arial, Helvetica, monospace, sans-serif;
}

body {
    margin: 5vw;
    background-color: #f9f9f9;
}

#visuals {
    display: flex;
    justify-content: space-between;
}

#map_graph {
    width: 50%;
    height: auto;
    aspect-ratio: 16/9;
    display: block;
    margin: auto;
}

#stacked-bar {
    width: 90%;
    height: auto;
    display: block;
    margin: auto;
}


#play-button {
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 6px 10px;
    margin-left: 10px;
    border-radius: 50%;
    transition: background-color 0.2s;
}

#play-button:hover {
    background-color: rgba(245, 193, 56, 0.2);
}


#year-slider1 {
    width: 100%;
    margin-top: 10px;
}

#year-slider2 {
    width: 100%;
    margin-top: 10px;
}

#tooltip {
    position: absolute;
    background: white;
    padding: 6px 10px;
    border: 1px solid #999;
    border-radius: 4px;
    pointer-events: none;
    font-size: 13px;
    opacity: 0;
}

.x-axis path,
.y-axis path,
.x-axis line,
.y-axis line {
    stroke: #ccc;
}

.bar-label {
    font-weight: bold;
    fill: #222;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    border-radius: 3px;
    background: #ddd;
    outline: none;
    margin: 8px 0;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #f5c138;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    margin-top: -3px
}

input[type=range]::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #f5c138;
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
    background: #ccc;
    border-radius: 3px;
    height: 6px;
}

input[type=range]::-moz-range-track {
    background: #ccc;
    border-radius: 3px;
    height: 6px;
}